html {
    overflow-y: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: unset;
    height: 100vh;
    margin: unset;
}

main {
    width: 500px;
    padding: 10px;
}

input {
    width: 100%;
    box-sizing: border-box;
}

input[type="file"] {
    color: var(--text-muted);
}

input[type="range"] {
    background: var(--background);
    padding: 10px;
}

input[type="range"]::-moz-range-track, input[type="range"]::-webkit-slider-runnable-track {
    background: var(--button-base);
}

#select-toggle::before {
    content: "url";
}

#select-toggle[data-toggled="true"]::before {
    content: "file";
}

#file-select.invisible {
    display: none;
}

#url-select-parent {
    display: none;
}

#url-select-parent.visible {
    display: flex;
}

#playback-button::before {
    content: "play_arrow";
}

#playback-button[data-toggled="true"]::before {
    content: "pause";
}

.fancy-link {
    font-size: 0.8em;
    font-family: "JetBrains Mono", Consolas, serif;
    text-decoration: underline;
}

.input-with-button {
    display: flex;
}

.buttons-with-settings {
    display: flex;
    align-items: stretch;
}

.buttons-with-settings .settings {
    display: flex;
    flex-direction: column;
}

.material-icons {
    color: var(--text-muted);
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@2.242/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
